<div class="container mt-5">
    <h4>Internal Server Error</h4>
    <div *ngIf="error">
        <h5 class="text-danger">{{error.message}}</h5>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </div>
</div>