.cart-no {
    position: absolute;
    min-height: 25px;
    min-width:25px;
    border-radius:50%;
    font-size:1em;
    background: #158cba;
    color:white;
    font-weight: bold;
    text-align: center;
    top:-12px;
    right:32px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: rgb(57, 57, 255);
    }
}

.logo {
    cursor: pointer;

    &:focus{
        outline: none;
    }
}